*{
  margin: 0px;
  padding: 0px;
}

body{
  height: 100vh;
  background-image: url(assets/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* Bagian navigasi */

ol{
  background-color: rgb(0, 0, 0, 0.25);
  height: 75px;
}

a{
  /* color: rgb(255, 255, 255); */
  font-size: 28px;
  color: rgb(255, 255, 255);
}

ol >li > a{
  text-decoration: none;
}

ol >li{
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

#Home, #Work, #Contact, #AboutMe, #SignUp, #Login{
  font-size: 24px;
}

#Logo{
  margin:20px;
}

#Home, #Work, #Contact, #AboutMe{
  margin: 10px;
}

#SignUp{
  margin-left: 80vh;
}

#Login{
  margin-left: 10px;
}

/* Bagian Konten */

#Konten{
  margin: 150px;
}

#Judul, #SubJudul{
  color: rgb(255, 255, 255);
  text-align: center;
}

#Judul{
  font-size: 64px;
}

#SubJudul{
  font-size: 32px;
  margin: 20px;
}

#TombolPlayNow{
  font-size: 20px;
  background-color: rgb(255, 194, 81);
  color: rgb(0, 0, 0);
  height: 45px;
  width: 110px;
  border-radius: 10px;
  margin: 20px;
}